<div class="row">
  <div class="col-sm-12">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>
<script>
  var ctx = document.getElementById("myChart").getContext('2d');

  let theData = {
    labels: <%= @labels %>,
    datasets: [
      {
        label: "Can 1",
        fillColor: "rgba(255,0,0,0.2)",
        strokeColor: "rgba(255,0,0,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#0f8080",
        pointHighlightFill: "#0f8080",
        pointHighlightStroke: "rgba(255,0,0,1)",
        data: <%= @records %>
      }
    ]
  };

  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: theData,
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          },
          scaleLabel: {
            display: true,
            labelString: "Trash (grams)"
          }
        }],
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: "Time"
          }
        }]
      },
      elements: {
        line: {
          tension: 0, // disables bezier curves
        }
      }
    }
  });
</script>

  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 p-3">
          <h1>Trash Tracker</h1>
        </div>
        <div class="col-sm-12 p-3">
          <h1 class="text-info">EcoScore: 25</h1>
          <div class="progress">
              <div id="ecoScoreProgress" class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p1>Statewide Average: 27</p1>
        </div>
        <div class="col-sm-6 p-3">
            <h2 class="text-info">My Recycling</h2>
            <div>
              <div id="recyclingProgress" data-preset="fan" data-stroke="green" data-stroke-width="15" class="ldBar label-center" style="width:100%;height:25%;margin:auto"></div>
            </div>
        </div>
        <div class="col-sm-6 p-3">
            <h2 class="text-info">My Waste</h2>
            <div>
              <div id="trashProgress" data-preset="fan" data-stroke="red" data-stroke-width="15" class="ldBar label-center" style="width:100%;height:25%;margin:auto"></div>
            </div>
        </div>
        <div class="col-sm-6 bg-secondary">
          <h4 class="text-info">CO2 Savings</h4>
          <p1 class="text-secondary">kg CO2</p1>
        </div>
        <div class="col-sm-6 bg-secondary">
          <h4 class="text-info">Total Waste Generated</h4>
          <p1 class="text-secondary">12 kg</p1>
        </div>
        <div class="col-sm-12 p-3">
          <h3>Daily Waste</h3>
          <div id="container" style="width: 75%;">
              <canvas id="canvas"></canvas>
          </div>
        </div>
        <div class="col-sm-12 p-3">
          <h2>My Challenges</h2>
        </div>
        <div class="col-sm-4 bg-secondary p-3">
          <button type="button" class="btn btn-primary">Set Waste Goals</button>
        </div>
        <div class="col-sm-4 bg-secondary p-3">
          <button type="button" class="btn btn-danger">Compare with Others</button>       
        </div>
        <div class="col-sm-4 bg-secondary p-3">
          <button type="button" class="btn btn-warning">Settings</button>       
        </div>
      </div>
  </div>

  <script>
    var recyclingProgress = new ldBar("#recyclingProgress");
    recyclingProgress.set(20);

    var trashProgress = new ldBar("#trashProgress");
    trashProgress.set(80);

    //var ecoScoreProgress = new ldBar("#ecoScoreProgress");
    //ecoScoreProgress.set(20);

    var planetChartData = {
      type: 'bar',
      data: {
        labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
        datasets: [
          { // another line graph
            label: 'Amount of Trash Consumed',
            type: 'bar',
            data: [40, 120.1, 67.7, 80.7, 139.8, 116.4, 50.7],
            backgroundColor: [
              'rgba(71, 183,132,.5)',
              'rgba(71, 183,132,.5)',
              'rgba(71, 183,132,.5)',
              'rgba(71, 183,132,.5)',
              'rgba(71, 183,132,.5)',
              'rgba(71, 183,132,.5)',
              'rgba(71, 183,132,.5)',
            ],
            borderColor: [
              '#47b784'
            ],
            borderWidth: 3
          }
        ]
      },
      options: {
        responsive: true,
        lineTension: 1,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              padding: 25,
            }
          }]
        }
      }
    }

    var barChartData = {
			labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
			datasets: [{
				label: 'Waste',
				backgroundColor: 'rgba(255, 0, 0,.5)',
				data: [
          -Math.random(),
					-Math.random(),
					-Math.random(),
					-Math.random(),
					-Math.random(),
					-Math.random(),
					-Math.random()
				]
			}, {
				label: 'Recycling',
				backgroundColor: 'rgba(0, 0, 255,.5)',
				data: [
          Math.random()/2,
          Math.random()/2,
          Math.random()/2,
          Math.random()/2,
          Math.random()/2,
          Math.random()/2,
          Math.random()/2
				]
			}, {
				label: 'Compost',
				backgroundColor: 'rgba(0, 255, 0,.5)',
				data: [
          Math.random()/3,
          Math.random()/3,
          Math.random()/3,
          Math.random()/3,
          Math.random()/3,
          Math.random()/3,
          Math.random()/3,
				]
			}]
    }

    var ctx = document.getElementById('canvas').getContext('2d');
    //window.myBar = new Chart(ctx, barChartData);
    window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
			});
    </script>
