@import "bootswatch/lux/variables";
@import "bootstrap";
@import "bootswatch/lux/bootswatch";

#ecoScoreProgress .ldBar-label {
  font-size: 10em;
}
#ecoScoreProgress .ldBar-label:after {
  content: "";
  color: #aaa;
  margin-left: 5px;
}
